/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

html {
  box-sizing: border-box
}

body {
  display: grid;
  grid-template-rows: 30vh 80vh;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgb(165, 77, 77);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1{
  font-size: 42px;
  align-items: start;
  font-style: italic;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

h3{
  font-size: 20px;
  align-items: start;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.numberOfPlayers {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

section.gameInfo {
  color: whitesmoke;
  margin: auto;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.playerForm {
  margin: auto;
  justify-content: center;
  align-items: center;
}

section.allDice {
  margin: auto;
  text-align: center;
  font-size: 40px;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  grid-column: 2 / 5;
  grid-template-rows: 80% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
  color: whitesmoke;
}

section.scoreboard {
  display: grid;
  align-items: start;
  justify-content: center;
  vertical-align: top;
  grid-column: 1 / 5;
  text-align: center;
  padding-top: 30px;
  color: gray;
  margin: 0;
  grid-template-rows: repeat(7, 50px);
  grid-template-columns: repeat(16,55px);
  /* grid-template-columns: repeat(`${playerCount}`); */
}

div {
  border: 1px solid whitesmoke;
  text-align: center;
  color: whitesmoke;
  vertical-align: middle;
  height: 50px;
  align-items: center;
}

div.scoreboard {
  height: 50px;
  border: 2px solid whitesmoke;
  text-align: center;
  color: whitesmoke;
  vertical-align: middle;
}

div.dice {
  height: 100px;
  margin: auto;
}

div.dicelock {
  border: none;
  font-size: 30px;
}

div.dropdown {
  border: none;
}

.category {
  background-color: rgb(228, 228, 167);
  color: rgb(165, 77, 77);
  font-weight: bold;
  border: 1px solid whitesmoke;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.player {
  background-color: rgb(240, 240, 210);
  color:rgb(165, 77, 77);
  font-size: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
  grid-column: 1 / 17;
}
}

.playerscoreboard {
  display: flex;
  margin: auto;
  grid-column: 1 / 17;
}

