/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

html {
  box-sizing: border-box
}

body {
  background-color: rgb(165, 77, 77);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

.gameInfo {
  color: whitesmoke;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 60px 60px;
  grid-template-columns: 80vh 40vh;
  grid-column: 1 / 5;
}

h1{
  font-size: 42px;
  align-items: start;
  font-style: italic;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
  grid-column: 1 / 2;
}

h3{
  font-size: 20px;
  align-items: start;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
  grid-column: 1 / 2;
}



.startgame {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.playerform {
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  grid-column: 2 / 3;
  border: none;
}



img {
  max-height: 115px;
}

section.allDice {
  margin: 0;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  grid-column: 1 / 5;
  grid-template-rows: 120px 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

div.dice {
  border: none;
  height: 100px;
  margin: 0;

}

.dicelockicon {
  border: none;
  margin: auto;
  display: flex;
  font-size: 30px;
  padding-bottom: 20px;
}

.rollbutton {
  display: flex;
  justify-content: center;
  grid-column: 1/5 ;
  border: none;
}

.playerUp {
  border: none;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  grid-column: 1 / 5;
}

section.scoreboard{
  display: grid;
  align-items: start;
  justify-content: center;
  grid-column: 1 / 5;
  text-align: center;
  color: gray;
  margin: 0;
  padding-top: 20px;
  height: 56px;
  grid-template-rows: auto;
  grid-template-columns: repeat(16,55.2px);
}


.category {
  background-color: rgb(228, 228, 167);
  color: rgb(165, 77, 77);
  font-weight: bold;
  border: 1px solid whitesmoke;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.player {
  background-color: rgb(240, 240, 210);
  color:rgb(165, 77, 77);
  font-size: 12px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
#playerscoreboard {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  padding-top: 14px;
  height: 100%;
}

/* this class is being added with js */
.playerscore {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(16, 55px);
}

div {
  border: 1px solid whitesmoke;
  text-align: center;
  color: whitesmoke;
  vertical-align: middle;
  height: 50px;
  align-items: center;
  justify-content: center;
}


#listofplayers {
  border: none;
  font-size: 15px;
  margin: 0;
  justify-content: start;
}

.playerlist {
  display: flex;
  justify-content: start;
  border: none;
  font-size: 20px;
  text-align: left;
}

