/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

html {
  box-sizing: border-box
}

body {
  display: grid;
  grid-template-rows: 300px 100vh;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgb(165, 77, 77);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1{
  font-size: 42px;
  align-items: start;
  font-style: italic;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

h3{
  font-size: 20px;
  align-items: start;
  text-align: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.numberOfPlayers {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

section.gameInfo {
  color: whitesmoke;
  margin: auto;
  justify-content: center;
  align-items: center;
}

form {
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

img {
  max-height: 115px;
}

section.allDice {
  margin: 0;
  text-align: center;
  font-size: 40px;
  justify-content: space-around;
  display: grid;
  box-sizing: border-box;
  grid-column: 2 / 5;
  grid-template-rows: 60% 40%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

section.scoreboard{
  display: grid;
  align-items: start;
  justify-content: center;
  vertical-align: top;
  grid-column: 1 / 5;
  text-align: center;
  padding-top: 30px;
  color: gray;
  margin: 0;
  grid-template-rows: repeat(1, 49px);
  grid-template-columns: repeat(16,55.2px);
}

.player {
  background-color: rgb(240, 240, 210);
  color:rgb(165, 77, 77);
  font-size: 12px;
}

#playerscoreboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 0;
  grid-column: 1 / 17;
}

.playerscore {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(16, 55px);
}

div {
  border: 1px solid whitesmoke;
  text-align: center;
  color: whitesmoke;
  vertical-align: middle;
  height: 50px;
  align-items: center;
  justify-content: center;
}

div.dice {
  border: none;
  height: 100px;
  margin: 0;
  padding-top: 50px;
}

div.dicelockicon {
  border: none;
  font-size: 30px;
}

.category {
  background-color: rgb(228, 228, 167);
  color: rgb(165, 77, 77);
  font-weight: bold;
  border: 1px solid whitesmoke;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#listofplayers {
  border: none;
  font-size: 15px;
  margin: 0;
  justify-content: start;
}

.playerlist {
  display: flex;
  justify-content: start;
  border: none;
  font-size: 20px;
  text-align: left;
}

